<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet"/>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
    <script src="https://kit.fontawesome.com/c7990475e6.js" crossorigin="anonymous"> </script>
</head>


<body>  
     <header class="ContenedorTotal">
      <section class="header1">  
      <div class="tipografia">

           <a href="/"><img src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo"></a>
          <div class="buscar"> 
          <input type="text" placeholder="Buscar productos, marcas" >
        <button><i class="fa-solid fa-magnifying-glass" ></i></button>
        <div class="compras">
           <h2 ><i class="fa-sharp fa-solid fa-money-bill-trend-up"> </i> Comprá en cuotas y sin tarjeta de crédito</h1>
           </div>
      </div>  
    
      </section> 
  <!--  <header>
        <section class="upper">
        <div class="upperTitle">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo"></a>
            <div class="search">
                <input type="text" placeholder="Buscar productos, marcas y más">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
            <div class="compras">
                <h2><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta</h2>
            </div>
        </section>-->
       
        <div class="burger-menu">
       <i class="fas fa-bars"></i>
      </div>   

               
          
        <nav class="mainnav-bar">

        <ul class="LeftNavbar">

            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>

        </ul>
        
        <ul class="nav-bar">

            <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>    
            <li><a href="/login">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>

        </ul>
        
       

      </main>        
    </header>

    <main >
      <div> 
        <h2 class="UltimaVisita"> Basado en tu última visita</h2>
        <section class="products"> 
      
  <article class="items">
         <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera Moulinex">
         <div class="Detalle">
          <span class="fa-stack" style="vertical-align: top;">
            <i class="fa-regular fa-circle fa-stack-2x green" class="Carrito"></i>
            <i class="fa-solid fa-truck fa-stack-1x green" class="Carrito"></i>
        </span>
      </div>
          <div class="price">
          <p class="price1">$6.770</p>
        <p class="descuento">40% OFF</p>

      </div>

        <h3 class="DescuentosDescripciones" >Cafetera Moulinex</h3>
       
  </article>

  <article class="items">
      <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
      <div class="Detalle">
          <span class="fa-stack" style="vertical-align: top;">
              <i class="fa-regular fa-circle fa-stack-2x green" class="Carrito"></i>
              <i class="fa-solid fa-truck fa-stack-1x green" class="Carrito"></i>
          </span>
          
          <div class="price">
              <p class="price1">$230.000</p>
              <p class="descuento">20% off</p>
          </div>
          <h3 class="DescuentosDescripciones">MacBook Pro 2019</h3>
      </div>
  </article>

     <article class="items">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
          <div class="detalle">
            <span class="fa-stack" style="vertical-align: top;">
            <i class="fa-regular fa-circle fa-stack-2x green" class="Carrito"></i>
            <i class="fa-solid fa-truck fa-stack-1x green" class="Carrito"></i>
            </span>
        <div class="price">
            <p class="price1">$70.500</p>
            <p class="descuento">10% off</p>
        </div>
        <h3 class="DescuentosDescripciones">Samsung Galaxy S10</h3>
        </div>
  </article>      

  <article class="items">
        <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV">
         <div class="detalle">
           <span class="fa-stack" style="vertical-align: top;">
           <i class="fa-regular fa-circle fa-stack-2x green" class="Carrito"></i>
           <i class="fa-solid fa-truck fa-stack-1x green" class="Carrito" ></i>
           </span>
        <div class="price">
          <p class="price1">$23.200</p>
          <p class="descuento">5% off</p>
        </div>
      <h3 class="DescuentosDescripciones">SmartTV Samsung 43"</h3>
    </div>
  </article>

</section>

</div>

<div>
    <h2 class="UltimaVisita">Sección de Ofertas </h2>
    <section>

      <article class="items">
        <img src="/images/img-cafetera-moulinex.jpg " alt="cafetera Moulinex">
        <div class="Detalle">

         <span class="fa-stack" style="vertical-align: top;">
           <i class="fa-regular fa-circle fa-stack-2x green" class="Carrito"></i>
           <i class="fa-solid fa-truck fa-stack-1x green" class="Carrito"></i>
       </span>
        </div>

         <div class="price">
         <p class="price1">$6.770</p>
       <p class="descuento">40% OFF</p>

     </div>

       <h3 class="DescuentosDescripciones" >Cafetera Moulinex</h3>
      
 </article>

 <article class="items">
  <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
  <div class="Detalle">
      <span class="fa-stack" style="vertical-align: top;">
          <i class="fa-regular fa-circle fa-stack-2x green" class="Carrito"></i>
          <i class="fa-solid fa-truck fa-stack-1x green" class="Carrito"></i>
      </span>
      <div class="price">
          <p class="price1">$230.000</p>
          <p class="descuento">20% off</p>
      </div>
      <h3 class="DescuentosDescripciones">MacBook Pro 2019</h3>
  </div>
</article>

<article class="items">
  <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
    <div class="detalle">
      <span class="fa-stack" style="vertical-align: top;">
      <i class="fa-regular fa-circle fa-stack-2x green" class="Carrito"></i>
      <i class="fa-solid fa-truck fa-stack-1x green" class="Carrito"></i>
      </span>
  <div class="price">
      <p class="price1">$70.500</p>
      <p class="descuento">10% off</p>
  </div>
  <h3 class="DescuentosDescripciones">Samsung Galaxy S10</h3>
  </div>
</article>      

<article class="items">
  <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung Smart TV">
   <div class="detalle">
     <span class="fa-stack" style="vertical-align: top;">
     <i class="fa-regular fa-circle fa-stack-2x green" class="Carrito"></i>
     <i class="fa-solid fa-truck fa-stack-1x green" class="Carrito" ></i>
     </span>
  <div class="price">
    <p class="price1">$23.200</p>
    <p class="descuento">5% off</p>
  </div>
          <h3 class="DescuentosDescripciones">SmartTV Samsung 43"</h3>
        </div>
     </article>

   </section>
</div>
</main>

    <footer class="Footer">
      <div class="Card">
       <i class="fa-solid fa-credit-card"></i>
      <h1>Pagá con tarjeta o en efectivo </h1>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!
      </p>
    </div>
      <div class="Card">
        <i class="fa-solid fa-gift"></i>
      <h1> Envío gratis desde $ 2.500</h1>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos. 
      </p>
    </div>
    <div class="Card">
      <i class="fa-solid fa-user-shield"></i>
      <h1>Seguridad, de principio a fin</h1>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.
      </p>
      <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
    </div>
    </footer>

</body>
</div>
</html>