<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
     rel="stylesheet"/>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
    <script src="https://kit.fontawesome.com/c7990475e6.js" crossorigin="anonymous"> </script>
</head>


<body>  
     <header class="ContenedorTotal">
      <section class="header1">  
      <div class="tipografia">

           <a href="/"><img src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo"></a>
          <div class="buscar"> 
          <input type="text" placeholder="Buscar productos, marcas" >
        <button><i class="fa-solid fa-magnifying-glass" ></i></button>
      </div>  
      <div class="compras">
           <h2 ><i class="fa-sharp fa-solid fa-money-bill-trend-up"> </i> Comprá en cuotas y sin tarjeta de crédito</h1>
           </div>
          </section> 

        <div class="burger-menu">
       <i class="fas fa-bars"></i>
      </div>   

               
          
        <nav class="mainnav-bar">

        <ul class="LeftNavbar">

            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>

        </ul>
        
        <ul class="nav-bar">

            <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>    
            <li><a href="/login">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>

        </ul>
        
       

      </main>        
    </header>

<main>
    <section class="Login">

        <form action="login" method="get">
        <label for="userin">User name</label>
        <input type="text" name="userin" id="userin" placeholder="user">
        <br>
        <label for="passin">Contraseña</label>
        <input type="password" name="passin" id="passin" placeholder="Password">
        <br>
        <div class="buttonin">
            <button type="submit"><a href="/">Enviar</a></button>

        </div>
    </form>

    </section>
</main>


    <footer class="Footer">
        <div class="Card">
         <i class="fa-solid fa-credit-card"></i>
        <h1>Pagá con tarjeta o en efectivo </h1>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
          puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
        <div class="Card">
          <i class="fa-solid fa-gift"></i>
        <h1> Envío gratis desde $ 2.500</h1>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos. 
        </p>
      </div>
      <div class="Card">
        <i class="fa-solid fa-user-shield"></i>
        <h1>Seguridad, de principio a fin</h1>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
          porque estás siempre protegid@.
        </p>
        <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
      </div>
      </footer>
    
     </body>
    </div>
</html>